:root {
  --main-color: #5b5fc7;
  --secondary-color: #fbded8;
  --accent-color: #d6e3e9;

  --pink-light: #e6ced0;
  --pink-dark: #53151a;

  --gray-50: #f1f1f1;
  --gray-70: #e3e3e3;
  --gray-100: #dfdfdf;
  --gray-500: #919191;
  --gray-700: #676767;
  --gray-900: #212121;

  --font-small: 10px;
  --font-caption: 12px;
  --font-body: 14px;
  --font-subtitle: 16px;
  --font-title: 18px;
  --font-largeHeading: 22px;
  --font-heading: 24px;
}

.App {
  font-family: 'Inter', sans-serif; /* Set font to Inter */
  width: 375px;
  height: 100vh;
  /* max-height: 812px; */
  /* margin: 1.25rem; */
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  margin: 0 auto;
  background-color: #ffffff;
}
